@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@mixin inlineFlex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@mixin columnFlex {
  display: flex;
  flex-direction: column;
}

@mixin tooltip {
  position: absolute;

  padding: 0.5rem;
  border-radius: 1rem;
  margin-left: 0.3rem;

  font-size: 0.7rem;
  font-weight: 500;
  background-color: $mainDark;
  color: $white;
}

$basePadding: 1rem;
$mainDark: #303030;
$secondaryDark: #404040;
$mainGray: #eee;
$secondaryGray: #ccc;
$white: #fff;
$blue: #006cfb;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;

  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: $mainDark;
}

header {
  grid-column: span 3;
  @include inlineFlex();
  justify-content: space-between;

  padding: $basePadding;
  background-color: $mainDark;
  color: $white;
  white-space: nowrap;

  .logo,
  .author {
    @include inlineFlex();
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    svg {
      margin-left: 0.5rem;
    }
  }
}

aside {
  @include columnFlex();
  gap: 1rem;

  padding: $basePadding;
  background-color: $mainGray;

  h3 {
    padding-bottom: $basePadding - 0.5rem;
    border-bottom: 2px solid $mainDark;
    white-space: nowrap;
    position: relative;
  }

  .home,
  .projects,
  .projects-container,
  .folders-container {
    @include columnFlex();
    text-align: left;
  }

  .projects h3:hover::after {
    @include tooltip();
    content: "No case sensitive repeating names - custom or given (e.g. All Tasks)";
  }

  .home h3:hover::after {
    @include tooltip();
    content: "Controls not working and I'm to lazy to fix";
  }

  .projects-container {
    .cross-icon {
      margin-left: auto;
      padding: 0.5rem;

      &:hover {
        outline: 2px dotted $mainDark;
        outline-offset: 2px;
      }
    }
  }

  .projects-container,
  .folders-container {
    .active {
      border-left: 4px solid $secondaryDark;
      background-color: $secondaryGray;
    }
  }
}

main {
  align-items: center;
  gap: 0.5rem;

  padding: $basePadding;

  h3 {
    margin-bottom: 1rem;
  }

  svg {
    padding: 0.5rem;
  }
}

.tasks-container {
  @include columnFlex();

  .task {
    @include columnFlex();
    gap: 0.5rem;

    .task-main {
      @include inlineFlex();
      justify-content: space-between;
      width: 100%;

      .left,
      .right {
        @include inlineFlex();
        text-align: left;

        svg:hover {
          outline: 2px dotted $mainDark;
          outline-offset: 2px;
        }
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-color: initial;
    }

    &.finished .left span {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;

        height: 2px;
        width: 100%;
        background: $mainDark;
      }
    }

    .task-desc {
      margin-left: 2rem;

      font-size: 0.8rem;
      text-align: left;
      align-self: flex-start;
    }
  }
}

.hidden {
  display: none !important;
}

.add-task {
  width: 100%;
  font-weight: 700;
}

dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include inlineFlex();
  padding: $basePadding + 0.5rem;
  border-color: $secondaryDark;
}

form {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 1rem;

  padding-left: $basePadding;
  padding-right: $basePadding;

  label {
    @include inlineFlex();
  }

  .input {
    font-family: inherit;
    font-size: inherit;
    padding: 0.3rem;

    &:focus {
      outline-color: $blue;
    }

    &:not(:focus)invalid {
      outline: 2px solid #DC2626;
    }
  }

  textarea {
    min-width: initial;
    resize: vertical;
    min-height: 200px;
    min-width: 400px;
  }

  .submit {
    background-color: $secondaryDark;
    color: $white;
  }

  .cancel {
    width: fit-content;
  }

  .form-button {
    margin-top: 0.5rem;
    border: 1px solid $secondaryDark;
    border-radius: 0.5rem;
    padding: 0.5rem $basePadding;
  }
}

.sidebar-form {
  @include columnFlex();
  gap: 0.5rem;

  input {
    width: 100%;
  }

  .btn-container {
    @include inlineFlex();
    height: 100%;

    button {
      height: 70%;
      margin-top: 0;
    }
  }
}

button {
  @include inlineFlex();
  background: none;
  border: none;
  padding: $basePadding;

  font-family: inherit;
  font-size: inherit;

  &:hover {
    background-color: $secondaryGray;
    cursor: pointer;
  }
}